*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    background: var(--light-color);
}

:root{
    --light-color: #fff;
    --dark-color: #080808;

}

.dark-theme{
    --light-color: #080808;
    --dark-color: #fff;
}

#icon{
    width: 30px;
    cursor: pointer;
}

html{
    scroll-behavior: smooth;
}
nav ul{
    flex: 1;
    text-align: right;
}
body{
    color: var(--dark-color);
}

#navbar{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-position: center;
    font-weight: bold;
}
.container{
    padding: 5px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 350px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: var(--dark-color);
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #a4c0a4;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text h1{
    font-size: 60px;
    margin-top: 350px;
    float: right;
    padding-right: 200px;
    
}
.header-text h1 span{
    color: #a4c0a4;
}

/* -------------------------------ABOUT----------------------- */

#about{
    padding: 80px 0;
    color: #757575;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;

}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: var(--dark-color);
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #a4c0a4;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 20px 0;
}
.tab-contents ul li span{
    color:#a4c0a4;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/* -------------------------------SKILLS----------------------- */

#skills h1{
    text-align: center;
}

.skills-container{
    padding: 5px 10%;
    grid-template-columns: repeat(2, max-content);
    margin-inline: 10rem;
    max-width: 1024px;
    column-gap: 10rem;
}

.skills-title{
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 3rem;
}

.grid{
    display: grid;
}

.skills-info,
.skills-data,
.skills-blob{
    display: grid;
}

.skills-info{
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    gap: 3rem;

}

.skills-data{
    justify-content: center;
    text-align: center;
}

.skills-blob{
    width: 80px;
    height: 100px;
    background-color: #f6f9fc;
    border-radius: 3rem;
    place-items: center;
    margin-bottom: 1rem;
}

.skills-blob img{
    width: 50px;
    background-color: #f6f9fc;
}

.skills-name{
    font-size: 16px;
    margin-bottom: .25rem;
}

.skills-subtitle{
    font-size: 13px;
    color: #757575;
}


.skills-blob:hover img{
    animation: bounce-skills .6s;
}

@keyframes bounce-skills{
    0%{
        transform: translate(0);
    }
    20%{
        transform: translateY(-6px);
    }
    40%{
        transform: translate(0);
    }
    60%{
        transform: translateY(-3px);
    }
    80%{
        transform: translate(0);
    }
}

/* -------------------------------EXPERIENCE----------------------- */
 #experience{
    padding: 50px;
}

.exp{
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
    gap: 1.5rem;
    padding-top: 1rem;
    display: grid;
}

.exp-card{
    padding: 1rem 2rem 1.5rem;
    background-color: var(--light-color);
    border-radius: 1rem;
    border: 3px solid #a4c0a4;
}


.exp-title{
    font-size: 20px;
    margin-top: 3rem;
}

.exp-button{
    margin-top: 2.5rem;
    color: #a4c0a4;
    display: flex;
    align-items: center;
    font-size: 14px;
    column-gap: .25rem;
    cursor: pointer;
}

.exp-button:hover .exp-icon{
    transform: translateX(.25rem);
}
.exp-icon{
    font-size: 1rem;
    transition: .4s;
}

.exp-layer{
    position: fixed;
    inset: 0;
    background-color: hsla(var(--light-color), 28%, 16%, .7);
    padding: 2rem 1rem;
    display: grid;
    place-items: center;
    visibility: hidden;
    opacity: 0; 
    transition: .4s;
    z-index: 1;
}

.exp-layercontent{
    position: relative;
    background: #a4c0a4;
    padding: 4.5rem 1.5rem 2.5rem;
    border-radius: 1.5rem;
}

.exp-layertitle,
.exp-layerdesc{
    text-align: center;
    background: #a4c0a4;
}

.exp-layertitle{
    font-size: 20px;
    color: var(--dark-color);
    margin-bottom: 1rem;
}

.exp-layerdesc{
    font-size: 16px;
    margin-bottom: 2rem;
}

.exp-layerlist{
    display: grid;
    row-gap: .75rem;
    color: var(--dark-color);
    background: #a4c0a4;
}

 .exp-layeritem{
    display: flex;
    align-items: flex-start;
    column-gap: .5rem;
    background: #a4c0a4;
 }

 .exp-layericon{
    font-size: 1.5rem;
    color: var(--dark-color);
    background: #a4c0a4;
 }

 .exp-layerinfo{
    font-size: 18px;
    color: var(--dark-color);
    background: #a4c0a4;
 }

 .exp-layerclose{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: var(--dark-color);
    background: #a4c0a4;
    cursor: pointer;
 }

.sliderbody{
    background: #a4c0a4;
    justify-content: center;
    display: flex;
 }
.slider{
    position: relative;
    width: 44%;
    overflow: hidden;
}

.images{
    display: flex;
    width: 100%;
}

.images img{
    height: 400px;
    width: 100%;
    transition: all 0.15s ease;
}

.images input{
    display: none;
}

.dots{
    display: flex;
    justify-content: center;
    padding: 5px;
    background: #a4c0a4;
}
.dots label{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid var(--dark-color) 3px;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 5px;
}
.dots label:hover{
    background: var(--dark-color);
}

/* --------------------- EXPERIENCE SLIDER -------------------  */
/* --------------------- INTERNSHIP -------------------  */
#i1:checked ~ .i1{
    margin-left: 0;
}
#i2:checked ~ .i2{
    margin-left: -100%;
}
#i3:checked ~ .i3{
    margin-left: -200%;
}
#i4:checked ~ .i4{
    margin-left: -300%;
}
#i5:checked ~ .i5{
    margin-left: -400%;
}

/* --------------------- C300 -------------------  */
#p1:checked ~ .p1{
    margin-left: 0;
}
#p2:checked ~ .p2{
    margin-left: -100%;
}
#p3:checked ~ .p3{
    margin-left: -200%;
}
#p4:checked ~ .p4{
    margin-left: -300%;
}

/* --------------------- C200 -------------------  */
#p21:checked ~ .p21{
    margin-left: 0;
}
#p22:checked ~ .p22{
    margin-left: -100%;
}
#p23:checked ~ .p23{
    margin-left: -200%;
}
#p24:checked ~ .p24{
    margin-left: -300%;
}
#p25:checked ~ .p25{
    margin-left: -400%;
}
#p26:checked ~ .p26{
    margin-left: -500%;
}


 .active-layer{
    opacity: 1;
    visibility: visible;
 }



.btn{
    display: block;
    margin: 30px auto;
    width: fit-content;
    border: 1px solid #a4c0a4;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: var(--dark-color);
    transition: 0.5s;
}
.btn:hover{
    background: #a4c0a4;
}

/* -------------------------------CONTACT----------------------- */
#contact{
    padding-top: 50px;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #a4c0a4;
    margin-right: 15px;
    font-size: 25px;
}
.btn.btn2{
    display: inline-block;
    background-color: #a4c0a4;
    font-weight: bold;
}

.contact-right form{
    width: 100%;
}

form input, textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #f6f9fc;
    padding: 15px;
    margin: 15px 0;
    color: var(--dark-color);
    font-size: 18px;
    border-radius: 6px;
}

form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: var(--light-color);
    color: #757575;
    font-weight: 300;
    margin-top: 20px;
}

#msg{
    color: #61b752; 
    margin-top: -20px;
    display: block;
}

/* -------------------------------CSS FOR SMALL SCREENS----------------------- */

nav .fas{
    display: none;
}

@media only screen and (max-width: 600px){
    #navbar{
        background-image: url(images/phone-bg.png);
        background-size: cover;

    }
    .header-text h1{
        font-size: 30px;
        margin-top: 470px;
        padding-right: 150px;
        text-align: center;
        background: none;
    }

    .header-text h1 span{
        background: none;
    }

    .logo{
        width: 250px;
        padding: 0px;
    }

    .nav-cont{
        padding-left: 0px;
    }
    

    .header-text h1{
        font-size: 30px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #a4c0a4;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li{
        display: block;
        margin: 25px;
        background: #a4c0a4;
    }
    nav ul li a{
        background: #a4c0a4;
    }
    nav ul .fas{
        position: absolute;
        top: 30px;
        left: 30px;
        cursor: pointer;
        margin-right: 2px;
        background: #a4c0a4;
        
    }

    .sub-title{
        font-size: 40px;

    }

    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }

    .about-col-1{
        margin-bottom: 30px;
    }

    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }

    .skills-container{
        grid-template-columns: repeat(1, max-content);
    }

    .grid{
        display: contents;
    }

    .skills-info{
        gap: 2.5rem;
        margin-left: 20px;
    
    }

    .skills-title{
        margin-top: 20px;
    }

    .exp{
        grid-template-columns: repeat(1, 1fr);
    }

    .layer p{
        margin: 0px;
        font-size: 12px;
    }

    .contact-left, .contact-right{
        flex-basis: 100%;
    }

    .copyright{
        font-size: 14px;
    }
    .exp:after .layer{
        height: 100%;
        background: #c8e7c8;
        color: #000;
        display: block;
        padding-top: 100px;
    } 
    .slider{
        position: relative;
        width: 100%;
    }